/* VARIAVEIS */

:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-yellow: #ffe600;
}

/* GERAL */

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    
}

/* CABEÇALHO */

.img_logo_header{
    width: 45px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}

.navigation_header a{
    text-decoration: none;
    color: var(--color-yellow);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-white);
}

.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

/* BARRA LATERAL */

.social-media{
    position: absolute;
    top: 30%;
    right: 10px;
}

.social-media img{
    display: block;
    width: 30px;
    margin: 20px 0;
}

/* CONTEÚDO */

.content{
    padding: 5%;
    text-align: justify;
    transition: 1s;
}

.content h1{
    font-size: 100px;
    color:var(--color-white);; 
    margin-bottom: 1%;
}

.content p{
    color: var(--color-white);
    max-width: 85%;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 1%;
}

.content button{
    border: 0;
    background-color: var(--color-yellow);
    color: var(--color-dark4);
    border-radius: 8px;
    width: 150px;
    height: 70px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1%;
    font-size: 25px;
}

/* ITENS CONSULTA */

.consulta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px;
}

.consulta p{
    font-size: 20px;
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
}

.consulta select{
    font-size: 14px;
    color: black;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 8px;
    margin-top: 1%;
    padding: 10px;
}

.consulta textarea{
    font-size: 14px;
    color: black;
    text-align: justify;
    width: 100%;
    height: 300px;
    border: 0px;
    border-radius: 8px;
    margin-top: 1%;
    padding: 10px;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }

    .content h1{
        font-size: 38px;
    }
    
    .content p{
        font-size: 20px;
    }
    
    .content button{
        font-size: 20px;
        width: 100px;
        height: 50px;
    }

    .social-media{
        top: 10%;
    }

}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
    
}